<!--
Author:         Freddie Wright
Company:        Arcus Global Ltd
Date:           2015-10-07   
Purpose:        To display all types of "activity" on a Case in chronological order. 
-->

<apex:page standardController="Case" extensions="CaseTimelineCont" tabStyle="Case" title="Case Timeline - {!case.CaseNumber}">
    <apex:sectionHeader subtitle="{!case.CaseNumber}" title="Case Timeline"/>
    <apex:form >
        <apex:pageBlock title="Case Timeline">
            <apex:pageBlockSection title="Select Cases" columns="1">
                <apex:pageBlockTable value="{!cases}" var="c">
                    <apex:column >
                        <apex:facet name="header">
                            <apex:inputCheckbox >
                                <apex:actionSupport event="onclick" action="{!getSelected}" onsubmit="checkAll(this)" rerender="timeline"/>
                            </apex:inputCheckbox>
                        </apex:facet>
                        <apex:inputCheckbox value="{!c.selected}" id="checkedOne">
                            <apex:actionSupport event="onclick" action="{!getSelected}" rerender="timeline"/>
                        </apex:inputCheckbox>
                    </apex:column>
                    <apex:column value="{!c.ca.CaseNumber}" headerValue="Case Number"/>
                    <apex:column value="{!c.ca.RecordType.Name}" headerValue="Record Type"/>
                    <apex:column value="{!c.ca.CreatedDate}" headerValue="Case Opened"/>
                    <apex:column value="{!c.ca.Child__r.Name}" headerValue="Child"/>
                    <apex:column value="{!c.childRelation}" headerValue="Relation to Child"/>
                    <apex:column value="{!c.ca.Parent__r.Name}" headerValue="Parent"/>
                    <apex:column value="{!c.parentRelation}" headerValue="Relation to Child"/>
                </apex:pageBlockTable>
            </apex:pageBlockSection>
            <apex:outputPanel id="timeline">
                <apex:pageBlockSection title="Case Timeline" rendered="{!selectedCaseIds.size>0}" columns="1">
                    <apex:pageBlockTable value="{!rowList}" var="r" >
                        <apex:column value="{!r.dateTimeString}" headerValue="Date"/>
                        <apex:column headerValue="Case Number">
                            <apex:outputLink value="{!r.theCase.Id}">{!r.theCase.CaseNumber}</apex:outputLink>
                        </apex:column>
                        <apex:column value="{!r.theCase.RecordType.Name}" headerValue="Record Type"/>
                        <apex:column value="{!r.theCase.Child__r.Name}" headerValue="Child"/>
                        <apex:column value="{!r.theCase.Parent__r.Name}" headerValue="Parent"/>
                        <apex:column value="{!r.subject}" headerValue="Subject"/>
                        <apex:column value="{!r.type}" headerValue="Type"/>
                        <apex:column value="{!r.userName}" headerValue="User"/>
                        <!--<apex:column value="{!r.description}" headerValue="Description"/>-->
                    </apex:pageBlockTable>
                </apex:pageBlockSection>
            </apex:outputPanel>
            <apex:pageBlockButtons >
                <apex:commandButton value="Back to Case" action="{!backToCase}"/>
                <!--<apex:commandButton value="Export in Excel" action="{!export}"/>-->
            </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>
    <script>
        function checkAll(cb){
            var inputElem = document.getElementsByTagName("input");
            for(var i=0; i<inputElem.length; i++){
                if(inputElem[i].id.indexOf("checkedOne")!=-1){
                    inputElem[i].checked = cb.checked;
                }
            }
        }
    </script>
</apex:page>